<h2>Angular-UI-Query-Builder</h2>
  
      {{mySpec}}
      <legend>Query builder</legend>
      <ui-query-builder
        query="query"
        spec="spec"
      ></ui-query-builder>

      <legend>Generated query</legend>
      <pre>{{query | json}}</pre>


      <!-- <div class="pull-right">
        <qb-export
          query="query"
          spec="spec"
          url="/api/data/export"
        ></qb-export>
      </div>
      <legend>Query builder + table</legend> -->

     

      <!-- <table class="table table-bordered table-striped table-hover" qb-table="query" sticky-thead sticky-tfoot>
        <thead>
          <tr>
            <th qb-cell selector></th>
            <th qb-col="status" sortable width="60px">Status</th>
            <th qb-col="name" sortable>Name</th>
            <th qb-col="username" sortable>Username</th>
            <th qb-col="email" sortable>Email</th>
            <th qb-col="address">Address</th>
            <th qb-col="website" sortable>Website</th>
            <th qb-col="company.name" sortable>Company</th>
            <th qb-col="role" sortable>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in data track by row.id">
            <td qb-cell selector="row.selected" on-select="notifyChange(row.id, value)"></td>
            <td class="text-center">
              <i class="fa fa-fw fa-lg" ng-class="
                row.status == 'active' ? 'fa-check text-success'
                : row.status == 'pending' ? 'fa-question-circle text-warning'
                : row.status == 'deleted' ? 'fa-trash text-danger'
                : 'fa-question text-danger'
              "></i>
            </td>
            <td>{{row.name}}</td>
            <td>{{row.username}}</td>
            <td>{{row.email}}</td>
            <td>
              <address>
                {{row.address.street}}<br/>
                {{row.address.city}}<br/>
                {{row.address.zip}}<br/>
                {{row.address.state}}<br/>
                {{row.address.country}}<br/>
                <span ng-if="row.phone">
                  <i class="fa fa-phone"></i>
                  {{row.phone}}
                </span>
              </address>
            </td>
            <td>{{row.website}}</td>
            <td>{{row.company.name}}</td>
            <td>{{row.role}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="10">
              <qb-pagination></qb-pagination>
            </td>
          </tr>
        </tfoot>
      </table> -->